<div class="login-container">
  <div class="login-header">
    <h2>¡Hola de nuevo!</h2>
  </div>

  <div class="login-form">
    <div class="input-group">
      <input type="text" placeholder="usuario" class="input-field">
    </div>
    <div class="input-group">
      <input type="password" placeholder="contraseña" class="input-field">
    </div>
    
    <button class="login-button"> <a [routerLink]="'/home'" style="color: white; text-decoration: none">Iniciar</a></button>
  </div>

  <div class="register-link">
    ¿Aun no eres tienes cuenta? <a [routerLink]="'/registro'" class="register-now">Registrarse</a>
  </div>
</div>