<div class="dashboard-container">
  <div class="section">
    <div class="section-header">
      <h3>Cursos</h3>
    </div>
    <div class="recent-pages-grid">
        <div class="carousel-container">
            <div class="carousel-track">
              <div *ngFor="let page of recentPages" class="page-card" [routerLink]="'/curso'">
                <div class="page-icon">{{ page.icon }}</div>
                <div class="page-title">{{ page.title }}</div>
              </div>
            </div>
        </div>
      </div>
  </div>

  <div class="section">
      <div class="section-header-calen">
        <h3>Horario</h3>
        <div class="pendientes">
          <div class="calendario">calendario</div>
          <div class="tareas">tareas pendientes</div>
        </div>
      </div>    
  </div>

   <div class="section">
    <div class="section-header">
      <h3>Proyectos</h3>
    </div>
    <div class="recent-pages-grid">
        <div class="carousel-container">
            <div class="carousel-track">
              <div *ngFor="let page of recentPages" class="page-card">
                <div class="page-icon">{{ page.icon }}</div>
                <div class="page-title">{{ page.title }}</div>
              </div>
            </div>
        </div>
      </div>
  </div>

</div>